{% extends "layout.html" %}

{% block title %}Book Details{% endblock %}

{% block body %}

<nav>
  <a class="navbar-brand" href="/"><h3>Books!<h3></a>
  <ul>
    <li><a class="btn btn-outline-success" href="/register" role="button">Link</a></li>
    <li><a class="btn btn-outline-success" href="/login" role="button">Logout</a></li>
    <li><a class="btn btn-success" href="#" role="button">{{username}}</a></li>
  </ul>
</nav>

  <div class="info-box">
    User reviews for:<br>
    <h3>{{ db_query.title }}</h3>
    <h5>by {{ db_query.author }}({{ db_query.year }})</h5>
    <br>
    ISBN:{{ db_query.isbn }}
    <br>
    <br>
    <h3>Average Rating: TODO</h3>
    <br>
    <a class="btn btn-success" href="#" role="button">Write a review!</a>
  </div>

  <div class="review-box">
    <div class="heading">
      <p><a href='#'>Username</a> | 06/06/2020 <p>
    </div>
    <div class="rating">
      <p>4/5</p>
    </div>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
  </div>


{% endblock %}
