{% extends "layout.html" %}

{% block title %}Book Details{% endblock %}

{% block body %}
<div class="bookinfo_page">
	<nav>
		<a class="btn-primary">Project 1: Books</a>
		<ul>
		  <li><a class="btn-secondary" href="/error">Error</a></li>
		  <li><a class="btn-secondary" href="/login">Logout</a></li>
		  <li><a class="btn-primary" href="#">{{username}}</a></li>
		</ul>
	</nav>

  <div class="info-box">
		<div class="book-info">
			<h3><b>{{ book_info.title }}</b></h3>
			<h5>by {{ book_info.author }}({{ book_info.year }})</h5>
			<small>ISBN:{{ book_info.isbn }}</small>
		</div>
		<div class="review-averages">
			<h4><u>Review Averages:</u></h4>
			<br>
			<h5>Local Average:</h5> <h3>{{local_average}}</h3>
			<br>
			<h5>Goodreads Average:</h5> <h3>{{goodreads_average}}
		</div>
		<br>
		<a class="btn-primary" href="{{ url_for('review', isbn=book_info.isbn) }}" role="button">Write a review!</a>
	</div>

  <div class="reviews">
		<h3>{{message}}</h3>
		{%for review in reviews%}
			<div class="user_review_box">
				<div class="heading">
					<p><small>Rating:</small> {{review.rating}}/5 <small>Reviewer:</small>  {{ review.username }}</p>
				</div>
				<div class="review_text">
					<p>{{review.review_text}}</p>
				</div>
				<p><small>Review Submitted: {{ review.submission_dt.strftime("%d-%m-%y %H:%M") }}</small></p>
			</div>
		{% endfor %}
		</div>
	</div>


</div> <!-- bookinfo_page -->

{% endblock %}
