{% extends "layout.html" %}

{% block title %}Login{% endblock %}

{% block body %}

<div class="multi_form">
  
	<nav>
		<a class="btn-primary" href="/">Project 1: Books</a>
		<ul>
			<li><a class="btn-primary" href="/register" role="button">Register</a></li>
		</ul>
	</nav>

  <div class="form-container">
        <form action="{{ url_for('login') }}" method="post">

            <div class="login">
                <input name="username" placeholder="User Name">
                <input type="password" name="password" placeholder="Password">
            </div>

            <div>
                <button class="btn-primary">Login</button>
            </div>
        </form>
  </div>

</div><!-- Multi-form -->

{% endblock %}
