{% extends "layout.html" %}

{% block title %}Register{% endblock %}

{% block body %}

<div class="multi_form">

	<nav>
		<a class="btn-primary" href="/">Project 1: Books</a>
		<ul>
			<li><a class="btn-primary" href="/login" role="button">Login</a></li>
		</ul>
	</nav>

  <div class="form-container">
    <h1>Register New Account<h1>

    <form action="{{ url_for('register') }}" method="post">

        <div class="form-group">
            <input name="username" placeholder="User Name">
        </div>

        <div class="form-group">
            <input type="password" name="password" placeholder="Password">
        </div>

        <div class="form-group">
          <input type="password" name="confirmation" placeholder="Confirm Password">
        </div>


        <div class="form-group">
            <button class="btn-primary">Submit</button>
        </div>
    </form>
  </div>
</div><!-- Multi-form -->

{% endblock %}
