{% extends "layout.html" %}

{% block title %}Write a Review{% endblock %}

{% block body %}

<nav>
  <a class="navbar-brand" href="/"><h3>Books!<h3></a>
  <ul>
    <li><a class="btn btn-outline-success" href="{{ url_for('book', isbn=db_query.isbn) }}" role="button">Book Info</a></li>
    <li><a class="btn btn-outline-success" href="/login" role="button">Logout</a></li>
    <li><a class="btn btn-success" href="#" role="button">{{username}}</a></li>
  </ul>
</nav>

<div class="container">
  <h3>Write a review for: </h3>
  <h4>{{ db_query.title }}</h4>
  <h5>by {{ db_query.author }} ({{ db_query.year }})</h5>
  <div class="row justify-content-center">
    <div class="col-lg-6 col-xs-12">
      <form action="{{ url_for('review', isbn=db_query.isbn) }}" method="post">

        <fieldset class="rating">
          <input type="radio" id="star5" name="rating" value="5" /><label class = "full" for="star5" title="5 Stars"></label>
          <input type="radio" id="star4" name="rating" value="4" /><label class = "full" for="star4" title="4 Stars"></label>
          <input type="radio" id="star3" name="rating" value="3" /><label class = "full" for="star3" title="3 Stars"></label>
          <input type="radio" id="star2" name="rating" value="2" /><label class = "full" for="star2" title="2 Stars"></label>
          <input type="radio" id="star1" name="rating" value="1" /><label class = "full" for="star1" title="1 Star"></label>
        </fieldset>

        <div class="form-group">
          <textarea class="form-control" name="review_text" rows="5"></textarea>
        </div>

        <div class="form-group">
            <button class="btn btn-success">Submit</button>
        </div>
      </form>
    </div>
  </div>
</div>


{% endblock %}
